body {
    background: #f0f0f0; /* Super light background color */
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333; /* Font color for the entire page */
    display: flex;
    min-height: 100vh; /* Ensure a minimum height of the viewport */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.container {
    display: flex;
    flex-direction: row; /* Change flex direction to horizontal */
    align-items: center; /* Center horizontally within the container */
    justify-content: space-between; /* Add space between h1 and leftnav */
    height: 100vh; /* Set container height to match viewport height */
    padding-right: 40px; /* Add padding to the right side of the container */
}

h1 {
    font-size: 40px;
    line-height: 1.2; /* Adjust line height to control the spacing between lines */
    background: linear-gradient(90deg, #005aff, #ff00e0); /* Darker gradient background */
    background-size: 200% 100%; /* Wider gradient */
    -webkit-background-clip: text; /* Clip the text to the gradient */
    color: transparent; /* Make the text transparent */
    animation: blink 2s infinite; /* Add blinking animation */
}

/* Apply styles to the second line */
.second-line {
    color: red; /* Text color for the second line */
    animation: blink 2s infinite; /* Add blinking animation */
}

@keyframes blink {
    0%, 100% {
        opacity: 0; /* Make the text invisible */
    }
    50% {
        opacity: 1; /* Make the text visible */
    }
}


.leftnav {
    background: linear-gradient(90deg, #005aff, #ff00e0); /* Darker gradient background */
    width: auto; /* Remove the fixed width to allow it to expand horizontally */
    min-width: 250px; /* Set a minimum width if needed */
    padding: 20px;
    color: #fff; /* Font color for the links */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly, pushing content to the bottom */
    min-height: 100%; /* Extend leftnav to the bottom of the container */
}

.leftnav a {
    text-decoration: none;
    color: inherit; /* Use the inherited font color */
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    text-align: justify; /* Justify the text in navigation links */
    flex-grow: 1; /* Allow navigation links to fill available vertical space */
}

.leftnav a:hover {
    background-color: #005aff; /* Match hover color to the gradient */
}

/* Additional styles for hover effect */
.leftnav a:hover {
    color: #ff00e0; /* Change font color on hover to match the gradient */
}

.leftnav a:hover::after {
    content: " ►"; /* Add a right arrow after the link text on hover */
    font-weight: bold;
    margin-left: 5px;
}
