body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    position: relative; /* Add relative positioning */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #005aff, #ff00e0);
    -webkit-background-clip: text;
    color: transparent;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    -webkit-background-clip: text;
    color: transparent;
}

.content {
    padding: 20px;
    margin-left: 300px;
}

.leftnav {
    background: linear-gradient(90deg, #005aff, #ff00e0);
    width: auto;
    min-width: 250px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.leftnav a {
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    text-align: justify;
    flex-grow: 1;
}

.leftnav a:hover {
    background-color: #005aff;
}

.leftnav a:hover {
    color: #ff00e0;
}

.leftnav a:hover::after {
    font-weight: bold;
    margin-left: 5px;
}
