body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    overflow-x: hidden; /* Hide horizontal overflow */

}

.container {
    display: flex;
    flex-direction: row; /* Change flex direction to horizontal */
    align-items: center; /* Center horizontally within the container */
    justify-content: space-between; /* Add space between h1 and leftnav */
    padding-right: 40px;
}



    h1 {
    font-size: 40px;
    line-height: 1.2;
}

   
.content {
    padding: 20px;
    margin-left: 250px; /* Adjust this value to increase spacing */
}

.leftnav {
    background-color: #333;
    width: auto;
    min-width: 250px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0; /* Stick it to the top */
    bottom: 0; /* Extend it to the bottom */
}

/* Rest of your CSS styles */

.leftnav a {
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    text-align: justify;
    flex-grow: 1;
}

.leftnav a:hover {
    background-color: #04AA6D;
}

  
