body {
    background-color: #87CEEB; /* Light Blue Background Color */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333; /* Font color for the entire page */
    display: flex;
    min-height: 100vh; /* Ensure a minimum height of the viewport */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.container {
    display: flex;
    flex-direction: row; /* Change flex direction to horizontal */
    align-items: center; /* Center horizontally within the container */
    justify-content: space-between; /* Add space between h1 and leftnav */
    height: 100vh; /* Set container height to match viewport height */
    padding-right: 40px; /* Add padding to the right side of the container */
}

h1 {
    font-size: 40px;
    line-height: 1.2; /* Adjust line height to control the spacing between lines */
    background: linear-gradient(90deg, #ff5733, #fddb92, #c2f0c2, #ffb6b9, #ff5733);
    background-size: 80%; /* Adjust the gradient width as needed */
    -webkit-background-clip: text; /* Clip the text to the gradient */
    color: transparent; /* Make the text transparent */
    animation: gradient 8s linear infinite; /* Add animation to the gradient */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.leftnav {
    background-color: #333; /* Background color for the left navigation */
    width: auto; /* Remove the fixed width to allow it to expand horizontally */
    min-width: 250px; /* Set a minimum width if needed */
    padding: 20px;
    color: #fff; /* Font color for the links */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly, pushing content to the bottom */
    min-height: 100%; /* Extend leftnav to the bottom of the container */
}

.leftnav a {
    text-decoration: none;
    color: inherit; /* Use the inherited font color */
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    text-align: justify; /* Justify the text in navigation links */
    flex-grow: 1; /* Allow navigation links to fill available vertical space */
    background-color: #007BFF; /* Set a background color for navigation links */
    border-radius: 5px; /* Add rounded corners to the links */
}

.leftnav a:hover {
    background-color: #04AA6D;
}
